<div id="wrapper">
    <div id="leftbar">
        <abn-tree tree-data=my_data on-select="objective_tree_handler(branch)" expand-level="1"></abn-tree>

    </div>
    <div id="content">

        <h3>{{currentSelection.name}}</h3>
        <i>{{currentSelection.desc}}</i>
        <p>
        <div class="img" ng-repeat="associate in currentSelection.associates">
            <div class="card">
                <h1>{{associate.name}}</h1>
                <div class="info">
                    <span class="title">Manager:</span>
                    <span class="value">{{associate.manager}}</span>
                </div>
                <div class="info">
                    <span class="title">Department:</span>
                    <span class="value">{{associate.dept}}</span>
                </div>
                <div class="info">
                    <span class="title">Current number of objectives</span>
                    <span class="value">{{associate.currLoad}}</span>
                </div>
            </div>
         </div>
    </div>
    <div id="rightbar">
        <select ng-model="assocSort" ng-change="selectSort(assocSort)">
            <option value="Name">Name</option>
            <option value="Department">Department</option>
        </select>
        <input type="text" ng-model="search" ng-change="filterSort(search)"/>
        <abn-tree tree-data=associate_data on-select="associate_tree_handler(branch)" expand-level="1"></abn-tree>
    </div>

</div>